@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink-100: #db6885;
  --pink-50: #ffd3d7;
  --pink-25: #f5eaeb;
  --pink-10: #fff4f5;
  --white: #ffffff;
  --black-100: #2f3137;
}

body {
  font-family: var(--font-figtree);
  color: var(--black-100);
}

input {
  @apply border border-solid bg-transparent rounded-[32px] py-5 px-10 focus:outline-none;
}

textarea {
  @apply border border-solid bg-transparent rounded-[32px] py-5 px-10 focus:outline-none;
}

/* Heading */

.pink-subtitle {
  font-family: var(--font-fredoka);
  font-size: 20px;
  font-weight: 700;
  color: var(--pink-100);

  @screen lg {
    font-size: 28px;
  }
}

@layer utilities {
  .h1 {
    @apply text-[38px] lg:text-[70px] font-bold;
  }
  .h2 {
    @apply text-[28px] lg:text-[54px] font-bold;
  }
}

/* Footer */

.footer {
  background-color: var(--pink-100);
  background-image: url("../../public/images/bg-footer-d.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.footer-title {
  font-size: 2.375rem;
  font-weight: 700;
  color: var(--white);

  @screen lg {
    font-size: 4.375rem;
  }
}

.author {
  padding: 1.5rem;
  text-align: center;
  color: var(--white);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.review-box {
  background-color: var(--pink-10);
  background-image: url("../../public/images/bg-review.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu-item:hover {
  a {
    color: var(--pink-100);
    text-decoration: underline;
    
  }
}

.button-wrapper {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

svg {
  color: inherit;
}
